@page "/htmx/partials/vault-get"

<CommandDisplay Prompt="@($"vault get {VaultId} {Key}")">
    <form hx-get="/kv/@VaultId/@Key"
          hx-ext="json-enc"
          hx-target="#get-result"
          hx-swap="innerHTML"
          hx-indicator="#loading"
          hx-trigger="submit"
          hx-disabled-elt="#submit-get"
          hx-on:htmx:after-request="
            if(event.detail.xhr.status === 200) {
              const response = JSON.parse(event.detail.xhr.responseText);
              document.getElementById('submit-get-group').style.display = 'none';
            }">

        <CommandOutput Label="key_name:" Text="@Key"/>
        <CommandSubmit Id="submit-get" Text="[GET_KEY]"/>
    </form>

    <HtmxResult Id="get-result" />
</CommandDisplay>

@code {

    [SupplyParameterFromQuery]
    public string VaultId { get; set; } = string.Empty;

    [SupplyParameterFromQuery]
    public string Key { get; set; } = string.Empty;

}